body{
    background-image: url('images/dl.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
    
    
    
.hvt{
    margin-top:102px;
    width: 200px;
    height: 250px;
    border-radius: 50%;
    
    -webkit-animation-name:hvl;
    -webkit-animation-duration:6s;
    -webkit-animation-iteration-count:infinite;
    
    animation-name:hvl;
    animation-duration:6s;
    animation-iteration-count:infinite;
}
    
    
@-webkit-keyframes hvl{
    0%{transform:translate(600px,100px);}
    10%{transform:translate(450px,100px);}
    20%{transform:translate(350px,150px);}
    30%{transform:translate(250px,100px);}
    45%{transform:translate(100px,100px);}
    60%{transform:translate(100x, 300px);}
    75%{transform:translate(350px,450px);}
    90%{transform:translate(600px,300px);}
    99%{transform:translate(600px,120px);}

}
    
@keyframes hvl{
    0%{transform:translate(600px,100px);}
    10%{transform:translate(450px,100px);}
    20%{transform:translate(350px,150px);}
    30%{transform:translate(250px,100px);}
    45%{transform:translate(100px,100px);}
    60%{transform:translate(100x, 300px);}
    75%{transform:translate(350px,450px);}
    90%{transform:translate(600px,300px);}
    99%{transform:translate(600px,120px);}
}


.heart {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 68%;
    top: 52%;
    transform: translate(-50%, -50%);
    background: url(https://cssanimation.rocks/images/posts/steps/heart.png) no-repeat;
    background-position: 0 0;
    cursor: pointer;
    animation: fave-heart 1s steps(28);
    animation-iteration-count:infinite;
  }
  .heart:hover {
    background-position: -2800px 0;
    transition: background 1s steps(28);
  }
  @keyframes fave-heart {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: -2800px 0;
    }
  }


  

#p1{
    font-style:italic;
}